@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Anton&family=Audiowide&family=Bangers&family=Bowlby+One+SC&family=Bungee&family=Cairo&family=Chewy&family=Creepster&family=Indie+Flower&family=Josefin+Sans&family=Josefin+Slab&family=Lobster&family=Macondo&family=Monoton&family=Ms+Madi&family=Pacifico&family=Poppins&family=Press+Start+2P&family=Raleway&family=Sigmar+One&family=Square+Peg&display=swap');

/* Start Body */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  //font-family: 'Londrina Solid' !important;
  font-family: 'Audiowide' !important;
  color: #fff !important;
}
/* End Body */
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/* Start Parent */
.parent {
  /* Start Section 1 */
  .sec-1 {
    width: 100%;
    height: 100vh;
    background: url(./Just-Play/Imgs/cover.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;

    .sec-1-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      header {
        font-size: 3.5em;
      }
      .ml11 {
        font-size: 2.13em;
        .text-wrapper {
          padding-top: 0.1em;
          padding-right: 0.05em;
          padding-bottom: 0.15em;
          .line {
            opacity: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: #fff;
            transform-origin: 0 50%;
          }
          .line1 {
            left: 0;
          }
        }
      }
      .ml11 .letter {
        line-height: 1em;
      }
      .container1 {
        height: 120px;
        .center {
          width: 180px;
          height: 60px;
          .btn {
            width: 180px;
            height: 60px;
            cursor: pointer;
            background: transparent;
            border: 1px solid #dc3545;
            transition: 1s ease-in-out;
            svg {
              left: 0;
              fill: none;
              stroke: #fff;
              stroke-dasharray: 150 480;
              stroke-dashoffset: 150;
              transition: 1s ease-in-out;
            }
            &:hover {
              transition: 1s ease-in-out;
              background: #af2634;
              & > svg {
                stroke-dashoffset: -480;
              }
            }
            span {
              color: white;
              font-size: 18px;
              font-weight: 100;
            }
          }
        }
      }
    }
  }
  /* End Section 1 */
  ////////////////////////////////
  /* Start Section 2 */
  .sec-2 {
    background: #d6ddd4;
    .typewriter-effect {
      padding-top: 75px;
      .text {
        max-width: 0;
        animation: typing 3s steps(var(--characters)) infinite;
        white-space: nowrap;
        color: #dc3545;
      }
      &::after {
        content: ' |';
        animation: blink 1s infinite;
        animation-timing-function: step-end;
      }
    }
    p {
      margin-top: 40px;
      color: #666;
      width: 750px;
      line-height: 35px;
    }
    .sonic-holder {
      height: 350px;
      .sonic {
        left: 100%;
        top: -60px;
        animation: move 5s linear 0.2s infinite;
        width: 500px;
      }
    }

    @keyframes move {
      from {
        left: -50%;
      }
      to {
        left: 100%;
      }
    }
    @keyframes typing {
      75%,
      100% {
        max-width: calc(var(--characters) * 1ch);
      }
    }
    @keyframes blink {
      0%,
      75%,
      100% {
        opacity: 1;
      }
      25% {
        opacity: 0;
      }
    }
  }
  /* End Section 2 */
  ////////////////////////////////
  /* Start Section 3 */
  .sec-3 {
    height: auto;
    .games {
      .game {
        height: 300px;
        margin-top: 50px !important;
        .game-info {
          padding-top: 20px;
        }
      }
    }
  }
  /* End Section 3 */
  ////////////////////////////////
  /* Start Section 4 */
  .sec-4 {
    height: 100px;
    padding-top: 35px;
    .social {
      display: grid;
      place-items: center;
      display: flex;
      gap: 30px;
      justify-content: center;
    }

    .social a {
      height: 60px;
      width: 60px;
      border-radius: 15px;
      background-color: #37c1fd;
      display: grid;
      place-items: center;
      position: relative;
      border-radius: 10px;
      background: #e0e0e0;
      box-shadow: 14px 14px 28px #c3c3c3, -14px -14px 28px #fdfdfd;
    }

    .social .twitter {
      background-color: #1da1f2;
    }
    .social .facebook {
      background-color: #4267b2;
    }

    .social .linkdin {
      background-color: #0072b1;
    }
    .social .instagram {
      background-color: #e1306c;
    }

    .social a svg {
      fill: #fff;
      transition: transform 200ms ease-in-out;
      z-index: 2;
    }

    .social a::before {
      content: attr(data-text);
      font-size: 1rem;
      font-weight: bold;
      background-color: #7da0cb;
      color: #fff;
      position: absolute;
      top: -55%;
      right: 50%;
      transform: translateX(50%) rotate3d(300, 0, 0, -90deg);
      padding: 3px 5px 6px 5px;
      clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 90%,
        55% 90%,
        50% 100%,
        45% 90%,
        0% 90%
      );
      transition: transform 200ms ease-in-out;
      transform-origin: bottom;
    }

    .social a:hover::before {
      transform: translateX(50%);
    }

    .social a:hover svg {
      transform: scale(1.2);
    }

    .social a::after {
      content: '';
      height: 100%;
      width: 100%;
      background-color: #7da0cb;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      transition: transform 200ms ease-in-out;
      transform-origin: bottom;
      clip-path: circle(0% at 50% 100%);
      border-radius: 10px;
      transition: clip-path 250ms ease-in-out;
    }

    .social a:hover::after {
      clip-path: circle(100%);
    }
  }
  /* End Section 4 */
  ////////////////////////////////
}
/* End Parent */
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
