/* Start Variables */
$main-color: #323232;
$second-color: #53bdff;
$third-color: #86d1ff;
$fourth-color: #000;
$fifth-color: #34cd39;
$sixth-color: #eee;
$seventh-color: #007bff;
/* End Variables */

@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Bangers&family=Bowlby+One+SC&family=Cairo&family=Indie+Flower&family=Josefin+Sans&family=Josefin+Slab&family=Lobster&family=Ms+Madi&family=Pacifico&family=Poppins&family=Raleway&family=Square+Peg&display=swap');

/* Start Body */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  background-color: $fourth-color !important;
  font-family: 'Poppins' !important;
}
/* End Body */

/* Start NavBar */
.nav {
  .lives {
    color: $seventh-color;
    span {
      width: 75px;
      height: 75px;
      margin: 10px auto 0;
      border: 2px solid $seventh-color;
      animation: lightUp 0.7s ease-in-out infinite;
    }
  }
  .timer {
    margin-top: 55px;
    span {
      color: $seventh-color;
      border: 3px solid $seventh-color;
      animation: lightUp 0.7s ease-in-out infinite;
    }
  }
  .level-menu {
    .menu {
      left: 75px;
      top: 55px;
      font-size: 2.5em;
      z-index: 111;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      color: $seventh-color;
      &:hover {
        transform: rotate(90deg);
        color: $sixth-color;
        top: 40px;
      }
    }
    .levels {
      left: -425px;
      width: 400px;
      height: 100vh;
      background-color: $fourth-color;
      box-shadow: 5px 5px 10px $fourth-color;
      z-index: 11;
      transition: all 0.25s ease-in-out;
      #exit {
        right: 15px;
        top: -30px;
        font-size: 5em;
        color: $sixth-color;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
        &:hover {
          color: $second-color;
        }
      }
      ul {
        margin-top: 75px;
        h2 {
          color: $second-color;
          letter-spacing: 5px;
        }
        li {
          text-align: center;
          text-transform: uppercase;
          height: 70px;
          line-height: 70px;
          margin: 5px 0;
          cursor: pointer;
          background-color: $second-color;
          font-size: 1.2em;
          letter-spacing: 0.2em;
          transition: all 0.25s ease-in-out;
          &:hover {
            background-color: $sixth-color;
            color: $fourth-color;
            letter-spacing: 0.3em;
            font-size: 1.5em;
          }
        }
        div {
          width: 100%;
          height: 75px;
          margin-top: 20px;
          overflow: hidden;
          text-align: center;
          img {
            display: inline-block;
            width: 50px;
            height: 50px;
            transition: transform 0.1s ease-in-out;
            &:hover {
              transform: scale(1.1, 1.1);
            }
          }
          a:nth-of-type(2) {
            margin: 0 35px 0;
          }
        }
      }
    }
  }
}
/* End NavBar */

/* Start Game */
.game {
  p {
    color: $second-color;
    margin-top: 50px;
    text-shadow: 2px 2px 2px $fourth-color;
    span {
      color: $fifth-color;
      text-decoration: underline;
      animation: color-ani 3s ease-in-out infinite;
    }
  }
  button {
    width: 25%;
    border-radius: 25px;
    margin: 10px 0 25px;
    font-size: 1.5em;
    transition: width 0.5s ease-in-out;
    &:hover {
      width: 75%;
    }
  }
  .output {
    text-align: left;
  }
}
/* End Game */

/* Start KeyFrames */
@keyframes scale-ani {
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.1, 1.1);
  }
  50% {
    transform: scale(1, 1);
  }
  75% {
    transform: scale(1.1, 1.1);
  }
}
@keyframes color-ani {
  0%,
  100% {
    color: $fifth-color;
  }
  25% {
    color: #ff0;
  }
  50% {
    color: $sixth-color;
  }
  75% {
    color: #f00;
  }
}
@keyframes lightUp {
  0%,
  100% {
    box-shadow: 0;
  }
  50% {
    box-shadow: 0 0 20px $seventh-color;
  }
}
/* End KeyFrames */

/* Default Classes */
.enter {
  opacity: 1 !important;
  left: 0 !important;
}
.box {
  display: inline-block;
  text-align: center;
  color: $second-color;
  background: $sixth-color;
  background: $fourth-color;
  border: 1px solid $second-color;
  box-shadow: 3px 3px 2px $second-color;
  font: normal 0em / normal 'Josefin Sans';
  width: 19%;
  height: 250px;
  font-size: 2em;
  padding-top: 100px;
  margin: 10px 0 10px 11px;
}
