/* Start Variables */
$main-color: #231e39;
$second-color: #222;
$third-color: #03bfcb;
$fourth-color: #febb0b;
/* End Variables */

@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Bangers&family=Bowlby+One+SC&family=Cairo&family=Indie+Flower&family=Josefin+Sans&family=Josefin+Slab&family=Lobster&family=Ms+Madi&family=Pacifico&family=Poppins&family=Raleway&family=Square+Peg&display=swap');

/* Start Body */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0 !important;
  font-family: 'Protest Riot' !important;
}
/* End Body */

/* Start Game */
.parent {
  background-color: #808;
  background-image: url('/assets/flat-mountains.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center, 50%, 100%;
}
.game {
  color: $fourth-color;
  #message {
    width: 250px;
    text-shadow: 0px 0px 3px #1f1f1f;
    animation: text-ani 1s infinite ease-in-out;
    -webkit-animation: text-ani 1s infinite ease-in-out;
    border-bottom: 2px solid $main-color;
    color: $main-color;
  }
  input {
    margin: 50px auto;
    width: 63px;
    padding: 10px;
    border: 3px solid #000;
    background-color: $fourth-color;
    color: $second-color;
    text-align: center;
    font: normal 1.2em / normal 'Josefin Sans';
    box-shadow: 5px 5px 5px #111;
    height: 65px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  button {
    width: 150px;
    background-color: $third-color;
    transition: width 0.2s ease-in-out, background-color 0.3s ease-in-out;
    box-shadow: 5px 5px 5px #111;
    border-radius: 15px;
    -webkit-transition: width 0.2s ease-in-out,
      background-color 0.3s ease-in-out;
    -moz-transition: width 0.2s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    &:hover {
      width: 50%;
      border-radius: 25px;
      background-color: $fourth-color;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
    }
  }
}
/* End Game */

/* Start Output */
.output {
  width: 200px;
  span {
    width: 25%;
    height: 50px;
    background: #03bfcb;
    color: #000;
    display: inline-block;
    font: normal 1.5em / 55px 'Josefin Sans';
    border: 1px solid #000;
    border-radius: 10px;
    margin: 0 5px 10px;
  }
}
/* End Output */

/* Start Keyframes */
@keyframes text-ani {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}
@keyframes word-letter-spacing {
  0% {
    letter-spacing: -17px;
    opacity: 0;
  }
  30% {
    letter-spacing: 4px;
    opacity: 1;
  }
  100% {
    letter-spacing: 4px;
    opacity: 1;
  }
}
/* End Keyframes */

.developer {
  top: 1rem;
  left: 1rem;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
  }
}
